<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>
<div style="width: 400px; height:auto">
  <%= link_to image_tag(@page.image, style:'width:100%'), pages_path %>
</div> 
<p>
  <strong>Caption:</strong>
  <%= @page.caption %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
